#{{ ansible_managed }}
#https://docs.pagure.org/SSSD.sssd/users/ad_provider.html

[sssd]
domains = {{ lowercase_realm_domain }}
config_file_version = 2
services = nss, pam, sudo

[domain/{{ lowercase_realm_domain }}]
ldap_search_base = {{ ldapBase }}
ad_domain = {{ lowercase_realm_domain }}
krb5_realm = {{ krb5_default_realm }}
realmd_tags = manages-system joined-with-samba
cache_credentials = True
id_provider = ad
krb5_store_password_if_offline = True
default_shell = /bin/bash
ldap_id_mapping = True
use_fully_qualified_names = False
fallback_homedir = /home/%d/%u
access_provider = ad
auth_provider = ad
chpass_provider = ad
access_provider = ad
ad_server = {{ adServer }}.{{ lowercase_realm_domain }}
ad_enabled_domains = {{ lowercase_realm_domain }}
ldap_schema = ad
dyndns_update = false
dyndns_refresh_interval = 43200
dyndns_update_ptr = false
dyndns_ttl = 3600

[sudo]

[pam]